.download-page-header {
    position: relative;
}

.download-page-header-background {
    position: absolute;
    height: 840px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff6f4;
    z-index: -100;
}

.hero-text-box {
    text-align: center;
    margin-bottom: 87px;
}

.header-text {
    margin-bottom: 24px;
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.header-text-p {
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-bottom: 48px;
    font-style: normal;
    color: #64626a;
}

/*-----------*/
/*header-graphic*/
/*-----------*/

.header-graphic {
    text-align: center;
}

.header-graphic img {
    width: auto;
    height: 540px;
    margin-bottom: 74px;
}
.chevron-down-download {
    width: 30px;
    height: 30px;
    color: #64626a;
}

.logo-windows,
.logo-apple {
    font-size: 19px;
    margin-right: 15px;
}

.btn-windows {
    margin-right: 15px;
}

.header-subtitle,
.header-subtitle-text {
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
}
.header-subtitle {
    margin-bottom: 14px;
}
.ellipse-outline {
    color: #ff6846;
    margin-right: 14px;
}
.header-subtitle-1 {
    float: left;
    width: 50%;
    text-align: center;
}
.header-subtitle-2 {
    float: right;
    width: 50%;
}

.download-guide-title {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    margin-bottom: 67px;
}

.download-options-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 11px;
}

.download-options-subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
    margin-bottom: 30px;
}

.download-options-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ff6846;
}
.two-fingers,
.lights-logo,
.sun-logo {
    margin-bottom: 38px;
}
.download-options-1 {
    width: 50%;
    float: left;
}

.download-options-2 {
    width: 50%;
    float: right;
}

.download-options {
    margin-bottom: 84px;
    text-align: center;
}
/*-----------*/
/*try-web-app-section*/
/*-----------*/

.try-app {
    background-color: #f5f6f9;
    padding: 0 68px;
    height: 238px;
}
.app-title {
    width: 50%;
    float: left;
    height: auto;
    margin-top: 60px;
}
.app-title-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #3b3a40;
    margin-bottom: 16px;
}
.app-subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #64626a;
    text-align: left;
}
.enter-email {
    float: left;
    margin-top: 84px;
    margin-right: 24px;
}

.email {
    width: 272px;
    height: 60px;
    border: 1px solid #8e8c95;
}
input,
select,
textarea {
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    color: #b3b1b7;
}

.try-app-button {
    float: left;
    margin-top: 84px;
    margin-bottom: 94px;
}

.try-app-button .btn-full {
    margin-right: 0;
    width: 170px;
    height: 60px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 20 21;
}
/*-----------*/
/*Ask-questions-section*/
/*-----------*/
.ask-questions-text {
    float: left;
    width: 50%;
}
.ask-questions-title {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 68px;
    color: #000000;
    margin-bottom: 24px;
}
.ask-questions-subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #64626a;
    margin-bottom: 52.78px;
}
.ask-questions-links {
    color: #ff6846;
}

.ask-questions-options {
    float: right;
    width: 50%;
    margin-bottom: 119.78px;
}
.different-plan,
.plan-for-free,
.notion-for-free,
.student-discounts {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3b3a40;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);
    padding: 24px 40px;
    width: 673px;
}

.guest-limit {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ff6846;
    margin-bottom: 14px;
}

.guest-limit-upgrade {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
}

.guest-limit-question {
    background-color: #ffffff;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    width: 673px;
    height: 200px;
    padding: 24px 40px;
}
.add-sign,
.remove-sign {
    float: right;
    padding-top: 10px;
}
