/*-----------*/
/*Basic setup*/
/*-----------*/

html {
    background-color: #ffffff;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.hero-text-box {
    text-align: center;
    margin-bottom: 87px;
}

.header-text {
    margin-bottom: 24px;
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.header-text-p {
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-bottom: 48px;
    font-style: normal;
    color: #64626a;
}

/*-----------*/
/*header-graphic*/
/*-----------*/

.header-graphic {
    text-align: center;
}

.header-graphic img {
    width: 947px;
    height: auto;
    margin-bottom: 74px;
}

.header-graphic h2 {
    font-size: 24px;
    font-family: "Inter";
    font-style: normal;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin-bottom: 12px;
    font-weight: 600;
}
.play-sharp-icon {
    line-height: 16px;
    font-size: 16px;
}
/*-----------------*/
/*Workspase-text-box*/
/*-----------------*/

.workspace-text-box {
    background-size: auto;
    float: left;
    width: 50%;
}

.workspace-title {
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    margin-bottom: 16px;
}

.workspace-subtitle {
    font-family: "Inter";
    font-size: 20px;
    color: #64626a;
    margin-bottom: 32px;
    font-weight: 300;
}

.workspace-features-title {
    height: 24px;
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 4px;
}
.workspace-features-subtitle {
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
}

.workspace-graph {
    width: 50%;
    float: right;
    background-color: #f5f6f9;
}

.workspace-graph img {
    height: 508px;
    width: auto;
}

.workspace-features {
    padding-left: 30px;
}

.workspace-feature-item {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 14px;
    width: 80%;
    padding-bottom: 16px;
}

.workspace-feature-item--selected {
    border-bottom: 2px solid #fa6402;
}

.chevron-forward {
    position: absolute;
    left: -30px;
}

/*-----------------*/
/*Section-Roles*/
/*-----------------*/
.roles-text-box {
    text-align: center;
    margin-bottom: 87px;
}

.roles-header-text {
    margin-bottom: 24px;
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.roles-text-p {
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: center;
    font-style: normal;
    color: #64626a;
}
.roles-links-item {
    width: 33.333%;
    float: left;
    padding-top: 24px;
    padding-left: 23px;
    border-top: 2px solid #d1d0d6;
    padding-bottom: 64px;
    cursor: pointer;
}

.roles-links-item:hover {
    border-top: 2px solid #fa6402;
}

.roles-links-title {
    height: 24px;
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 4px;
}
.roles-links-subtitle {
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
}

.roles-links-item--selected {
    border-top: 2px solid #fa6402;
}

.chevron-forward-roles {
    position: absolute;
    left: -6px;
}

.roles-link-img {
    width: 1140px;
    height: auto;
}

/*-----------------*/
/*Section-focus*/
/*-----------------*/

.focus-text-box {
    float: left;
    width: calc(50% - 40px);
    margin-right: 40px;
}

.focus-title {
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    margin-bottom: 16px;
}

.focus-subtitle {
    font-family: "Inter";
    font-size: 20px;
    color: #64626a;
    margin-bottom: 32px;
    font-weight: 300;
}

.focus-features-title {
    height: 24px;
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 4px;
}
.focus-features-subtitle {
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
}

.focus-graph {
    width: 50%;
    float: left;
}

.focus-graph img {
    height: 508px;
    width: 100%;
}

.focus-feature-item {
    position: relative;
    margin-bottom: 14px;
    width: 80%;
    padding-bottom: 16px;
}

.focus-feature-item--selected {
    border-bottom: 2px solid #fa6402;
}

.chevron-forward {
    position: absolute;
    left: -30px;
}

/*-----------------*/
/*Section-Comments*/
/*-----------------*/
.testimonials-title {
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;
    font-style: normal;
    float: left;
    margin-bottom: 72px;
}
.apostrophe {
    width: 94px;
    height: auto;
    float: left;
    margin-right: 36px;
}

.testimonial-box {
    width: 33.333%;
    height: 250px;
    float: left;
    position: relative;
    margin-bottom: 236px;
}

.testimonial-box:first-child {
    padding-right: 23px;
}

.testimonial-box:nth-child(3) {
    padding-left: 30px;
}

.testimonial-box:nth-child(2) {
    border-left: 1px solid #d1d0d6;
    border-right: 1px solid #d1d0d6;
    padding-left: 30px;
    padding-right: 23px;
}

.testimonial-text {
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #3b3a40;
}

.testimonial-author {
    position: absolute;
    bottom: 0;
}
.author-details {
    float: left;
}

.author-name {
    font-family: "Libre Baskerville";
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3b3a40;
    margin-bottom: 6px;
}

.author-position {
    font-family: "Inter";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
}

.author-image {
    margin-right: 12px;
    float: left;
}
.testimonial-stats {
    width: 100%;
    display: inline-block;
}
.stats-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #8e8c95;
    margin-bottom: 24px;
    text-align: center;
}

.stats-numbers {
    width: max-content;
    margin: 0 auto;
}

.stats-numbers:not(:last-child) {
    margin-bottom: 124px;
}

.stats-numbers-title {
    width: max-content;
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
    font-size: 100px;
    line-height: 124px;
    color: #000000;
    position: relative;
    z-index: 124px;
}
.stats-numbers-subtitle {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #8e8c95;
    text-align: center;
}

.stats-numbers-title::after {
    display: block;
    content: " ";
    height: 19px;
    width: 100%;
    background: #ffdea7;
    position: absolute;
    bottom: 19px;
    z-index: -1;
}
.row-stats {
    width: 50%;
    float: left;
}

.row-stats:last-child {
    width: 50%;
    float: right;
    position: relative;
    top: 100px;
}

.section-testimonials {
    padding-bottom: 180px;
}

/*-----------------*/
/*Section-Pricing*/
/*-----------------*/
.pricing-header {
    margin-bottom: 48px;
}
.pricing-title {
    font-family: "Libre Baskerville";
    font-size: 60px;
    color: #000000;
    text-align: center;
    font-weight: 400;
    line-height: 74px;
    margin-bottom: 16px;
}

.pricing-subtitle {
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #3b3a40;
}

.annual-plans-text,
.monthly-plans-text {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3b3a40;
}

.savings {
    font-family: "Libre Baskerville";
    font-size: 14px;
    color: #ff6846;
    font-weight: normal;
    font-style: italic;
}
.pricing-switcher-box {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 58px;
}
.annual-plans {
    float: left;
    width: max-content;
    padding-right: 16px;
    text-align: center;
    position: relative;
    bottom: 9px;
}
.switch-icon {
    width: max-content;
    float: left;
}
.monthly-plans-text {
    width: max-content;
    padding-left: 16px;
    position: relative;
    top: 9px;
    float: left;
}
.pricing-wrapper {
    border: 1px solid #d1d0d6;
    margin-bottom: 48px;
}
.pricing-type-1,
.pricing-type-2,
.pricing-type-3,
.pricing-type-4 {
    width: 25%;
    height: auto;
    float: left;
    padding: 45px 0;
}
.pricing-type-1,
.pricing-type-2,
.pricing-type-3 {
    border-right: 1px solid #d1d0d6;
}

.wrapper-title {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #3b3a40;
    text-align: center;
    margin-bottom: 4px;
}
.wrapper-subtitle {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #64626a;
    text-align: center;
    margin-bottom: 36px;
}

.wrapper-price {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.6px;
    color: #3b3a40;
    text-align: center;
    margin-bottom: 8px;
}
.quote-link {
    display: block;
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3b3a40;
    text-align: center;
    margin-bottom: 72px;
}

.btn-medium {
    font-family: "Inter";
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.175px;
    background-color: #ff6846;
    border-radius: 4px;
    padding: 16px 25px;
    text-decoration: none;
    display: block;
    width: max-content;
    margin: 0 auto;
}

.btn-mrdium:link,
.btn-medium:visited {
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-medium:link,
.btn-medium:visited {
    background-color: #ff6846;
    color: #fff;
}

.btn-medium:hover,
.btn-medium:active {
    background-color: #ff3102;
    color: #fff;
}

.pricing-enterprise {
    background-color: #f5f6f9;
    border-radius: 12px;
    padding: 0px 195px;
    height: 112px;
    margin-bottom: 46px;
}

.pricing-enterprise-title {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #3b3a40;
    margin-bottom: 4px;
    display: inline-block;
    margin-right: 25px;
}

.pricing-enterprise-subtitle {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #64626a;
    display: inline-block;
}
.pricing-enterprise-text {
    float: left;
    position: relative;
    top: 40px;
}
.contact-btn {
    float: right;
}

.contact-btn .btn-sm-ghost {
    display: inline-block;
    position: relative;
    top: 35px;
}
.enterprise-under-text {
    text-align: center;
    margin-bottom: 160px;
}
.enterprise-under-title {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #64626a;
    margin-bottom: 16px;
}
.link-compare {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0.175px;
}

/*----------------------*/
/*Footer*/
/*----------------------*/
