/*-----------*/
/*Basic setup*/
/*-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
/*-----------*/
/*Reusable Components*/
/*-----------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/*-----------*/
/*Navigation and logo*/
/*-----------*/

nav {
  overflow: hidden;
  padding: 30px 0;
  margin-bottom: 136px;
}

.logo {
  height: 24px;
  width: auto;
  float: left;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li,
.btn-try {
  display: inline-block;
  margin-left: 36px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 3px 0;
  color: #3b3a40;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ff6846;
}

/*-----------*/
/*Buttons*/
/*-----------*/

.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  padding: 20px 55px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff6846;
  color: #fff;
  border-radius: 8px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 16px;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: #ffffff;
  color: #ff6846;
  border-radius: 8px;
  border: 1px solid #8e8c95;
  line-height: 14px;
  font-size: 14px;
  padding: 20px 22px;
}

.btn-sm-full:link,
.btn-sm-full:visited {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #8e8c95;
  font-size: 14px;
  margin-left: 36px;
  text-decoration: none;
  padding: 10px 13px;
}

.btn:hover,
.btn:active {
  background-color: #ff3102;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #ff3102;
  color: #fff;
  border-color: #ff3102;
}

.btn-sm-full:hover,
.btn-sm-full:active {
  background-color: #ff3102;
  color: #fff;
  border-color: #ff3102;
}

/*-----------*/
/*Header*/
/*-----------*/

header {
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  text-align: center;
  margin-bottom: 87px;
}

.header-text {
  margin-bottom: 24px;
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.header-text-p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 48px;
  font-style: normal;
  color: #64626a;
}

/*-----------*/
/*header-graphic*/
/*-----------*/

.header-graphic {
  text-align: center;
}

.header-graphic img {
  width: 947px;
  height: auto;
  margin-bottom: 74px;
}

.header-graphic h2 {
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 12px;
  font-weight: 600;
}
/* -----------------*/
/*Workspase-Section*/
/*-----------------*/

.section-workspace {
}

/*-----------------*/
/*Workspase-text-box*/
/*-----------------*/

.workspace-text-box {
  background-size: auto;
  float: left;

  width: 50%;
}

.workspace-title {
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  margin-bottom: 16px;
}

.workspace-subtitle {
  font-family: "Inter";
  font-size: 20px;
  color: #64626a;
  margin-bottom: 32px;
  font-weight: 300;
}

.workspace-features-title {
  height: 24px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
}
.workspace-features-subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  color: #64626a;
}

.workspace-graph {
  width: 50%;
  float: right;
  background-color: #f5f6f9;
}

.workspace-graph img {
  height: 508px;
  width: auto;
}

.workspace-features {
  padding-left: 30px;
}

.workspace-feature-item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 14px;
  width: 80%;
}

.workspace-feature-item--selected {
  border-bottom: 2px solid #fa6402;
  padding-bottom: 16px;
}

.chevron-forward {
  position: absolute;
  left: -30px;
}
