/*-----------*/
/*Basic setup*/
/*-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* .clearfix {
  zoom: 1;
} */
.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*-----------*/
/*Reusable Components*/
/*-----------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}

/*-----------*/
/*Navigation and logo*/
/*-----------*/

nav {
  max-width: 1140px;
  padding: 31px 0;
  margin: 0 auto;
  margin-bottom: 136px;
}

.logo {
  height: 24px;
  width: auto;
  float: left;
}

.main-nav {
  float: right;
  list-style: none;
  font-family: "Inter";
}

.main-nav li {
  display: inline-block;
  margin-left: 36px;
}

.main-nav-links:link,
.main-nav-links:visited {
  padding-bottom: 5px;
  color: #3b3a40;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav-links:hover,
.main-nav-links:active {
  border-bottom: 2px solid #ff6846;
}

/*-----------*/
/*Buttons*/
/*-----------*/

.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  padding: 20px 55px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff6846;
  color: #fff;
  border-radius: 8px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 16px;
}

.btn-full:hover,
.btn-full:active {
  background-color: #ff3102;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: #ffffff;
  color: #ff6846;
  border-radius: 8px;
  border: 1px solid #8e8c95;
  line-height: 14px;
  font-size: 14px;
  padding: 20px 22px;
}

.btn-ghost:active,
.btn-ghost:hover {
  background-color: #ff3102;
  color: #fff;
  border-color: #ff3102;
}

.btn-sm-ghost:link,
.btn-sm-ghost:visited {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #8e8c95;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 13px;
}

.btn-sm-ghost:hover,
.btn-sm-ghost:active {
  background-color: #ff3102;
  color: #fff;
  border-color: #ff3102;
}

/*-----------*/
/*Header*/
/*-----------*/

.hero-text-box {
  text-align: center;
  margin-bottom: 87px;
}

.header-text {
  margin-bottom: 24px;
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.header-text-p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 48px;
  font-style: normal;
  color: #64626a;
}

/*-----------*/
/*header-graphic*/
/*-----------*/

.header-graphic {
  text-align: center;
}

.header-graphic img {
  width: 947px;
  height: auto;
  margin-bottom: 74px;
}

.header-graphic h2 {
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 12px;
  font-weight: 600;
}

/*-----------------*/
/*Workspase-text-box*/
/*-----------------*/

.workspace-text-box {
  background-size: auto;
  float: left;
  width: 50%;
}

.workspace-title {
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  margin-bottom: 16px;
}

.workspace-subtitle {
  font-family: "Inter";
  font-size: 20px;
  color: #64626a;
  margin-bottom: 32px;
  font-weight: 300;
}

.workspace-features-title {
  height: 24px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
}
.workspace-features-subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  color: #64626a;
}

.workspace-graph {
  width: 50%;
  float: right;
  background-color: #f5f6f9;
}

.workspace-graph img {
  height: 508px;
  width: auto;
}

.workspace-features {
  padding-left: 30px;
}

.workspace-feature-item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 14px;
  width: 80%;
  padding-bottom: 16px;
}

.workspace-feature-item--selected {
  border-bottom: 2px solid #fa6402;
}

.chevron-forward {
  position: absolute;
  left: -30px;
}

/*-----------------*/
/*Section-Roles*/
/*-----------------*/
.roles-text-box {
  text-align: center;
  margin-bottom: 87px;
}

.roles-header-text {
  margin-bottom: 24px;
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.roles-text-p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  font-style: normal;
  color: #64626a;
}
.roles-links-item {
  position: relative;
  width: 33.333%;
  float: left;
  padding-top: 24px;
  padding-left: 23px;
  border-top: 2px solid #d1d0d6;
  padding-bottom: 64px;
}

.roles-links-title {
  height: 24px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
}
.roles-links-subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  color: #64626a;
}

.roles-links-item--selected {
  border-top: 2px solid #fa6402;
}

.chevron-forward-roles {
  position: absolute;
  left: -6px;
}

.roles-link-img {
  width: 1140px;
  height: auto;
}

/*-----------------*/
/*Section-focus*/
/*-----------------*/

.focus-text-box {
  background-size: auto;
  float: left;
  width: 50%;
}

.focus-title {
  font-family: "Libre Baskerville";
  font-size: 60px;
  color: #000000;
  margin-bottom: 16px;
}

.focus-subtitle {
  font-family: "Inter";
  font-size: 20px;
  color: #64626a;
  margin-bottom: 32px;
  font-weight: 300;
}

.focus-features-title {
  height: 24px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
}
.focus-features-subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  color: #64626a;
}

.focus-graph {
  width: calc(50% - 40px);
  float: right;
}

.focus-graph img {
  height: auto;
  width: 100%x;
}

.focus-features {
  padding-left: 30px;
}

.focus-feature-item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 14px;
  width: 80%;
  padding-bottom: 16px;
}

.focus-feature-item--selected {
  border-bottom: 2px solid #fa6402;
}

.chevron-forward {
  position: absolute;
  left: -30px;
}
